/* ConversacionesContenedor - Contenedor principal */
.ConversacionesContenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* ConversacionesHeader - Cabecera del chat */
.ConversacionesHeader {
  display: flex;
  align-items: center;
  padding: 16px;
  color: #000000;
}

.ConversacionesFoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

.ConversacionesIniciales {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #3c8dbc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}

.ConversacionesNombre {
  font-size: 18px;
  font-weight: 600;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ConversacionesHistorial - Área de mensajes */
.ConversacionesHistorial {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
  background-color: #f9f9f9;
  max-height: 500px;
  font-size: 14px;
}

.ConversacionesMensaje {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.ConversacionesEmisor {
  align-items: flex-end;
}

.ConversacionesReceptor {
  align-items: flex-start;
}
/* Estilo para los mensajes de texto */
.ConversacionesTexto {
  padding: 12px;
  border-radius: 12px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para los mensajes del emisor */
.ConversacionesEmisor .ConversacionesTexto {
  background-color: #d1f7d6; /* Fondo verde claro para el emisor */
  align-self: flex-end; /* Alineación del emisor a la derecha */
}

/* Estilo para los mensajes del receptor */
.ConversacionesReceptor .ConversacionesTexto {
  background-color: #eef1ff; /* Fondo azul claro para el receptor */
  align-self: flex-start; /* Alineación del receptor a la izquierda */
}


.ConversacionesTimestamp {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
  text-align: right;
}

/* ConversacionesInputContenedor - Área de entrada de mensaje */
.ConversacionesInputContenedor {
  display: flex;
  padding: 12px;
  background-color: #f1f1f1;
}

.ConversacionesInput {
  flex-grow: 1;
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
  margin-right: 12px;
}

.ConversacionesInput:focus {
  border-color: #2F6B3E;
}

.ConversacionesBotonEnviar {
  background-color: #2F6B3E;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ConversacionesBotonEnviar:hover {
  background-color: #469b5b;
}

/* Media Query - Pantallas menores a 900px */
@media (max-width: 900px) {
  .ConversacionesContenedor {
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .ConversacionesHeader {
    padding: 12px;
  }

  .ConversacionesFoto, .ConversacionesIniciales {
    width: 40px;
    height: 40px;
  }

  .ConversacionesNombre {
    font-size: 16px;
  }

  .ConversacionesHistorial {
    max-height: 400px;
  }

  .ConversacionesInputContenedor {
    padding: 10px;
  }

  .ConversacionesInput {
    font-size: 12px;
  }

  .ConversacionesBotonEnviar {
    font-size: 12px;
    padding: 10px 20px;
  }
}

/* Pantallas mayores a 900px */
@media (min-width: 900px) {
  .ConversacionesContenedor {
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  .ConversacionesHistorial {
    max-height: 500px;
  }
}
