.FiltrosContenedor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.FiltrosContenedor-contenedor {
  background-color:rgb(255, 255, 255);
  width: 45%;
  height: 70vh; 
  position: relative;
  padding: 20px;
  border-radius: 12px;
 }

.FiltrosContenedor-contenedor h1{
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(231, 231, 231);
  margin-bottom: 20px;
 }
 
 .FiltrosContenedor-contenedor-opciones {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 85%; 
  overflow-y: auto;
  z-index: 1000;
}

.FiltrosContenedor-boton-cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
}

.FiltrosContenedor-boton-cerrar:hover {
  transform: scale(1.2);
}

body.no-scroll {
  overflow: hidden;
}

.FiltrosContenedor-botones-fijos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(231, 231, 231);
  padding: 10px 20px;
  z-index: 10;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);}


.FiltrosContenedor-boton-aplicar {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  border:none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #2F6B3E; /* Color verde (puedes cambiarlo por el color que desees) */
}

.FiltrosContenedor-boton-aplicar:hover {
  background-color: #418f54; /* Un tono más oscuro cuando se pase el cursor */
}

.FiltrosContenedor-boton-limpiar {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border:none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #626563; /* Color verde (puedes cambiarlo por el color que desees) */
}

.FiltrosContenedor-boton-limpiar:hover {
  background-color: #aeb0ae; /* Un tono más oscuro cuando se pase el cursor */
}


@media (max-width: 600px) {
  .FiltrosContenedor-contenedor {
    width: 95%;
  }
}