.Paso1A-contenedor {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.Paso1A-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Paso1A-texto {
  flex: 0 0 60%; /* Ocupa el 60% del ancho */
  padding: 10px;
}

.Paso1A-titulo-secundario {
  font-size: 1.2rem;
  color: #555;
}

.Paso1A-titulo-principal {
  font-size: 2rem;
  margin: 10px 0;
  color: #222;
}

.Paso1A-descripcion {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

.Paso1A-video-contenedor {
  position: relative;
  display: flex;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  height: 90%;
}

.Paso1A-video {
  width: 100%;
  height: auto;
}

.Paso1A-video-texto {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 110px;
  color: white;
  background-color: #2F6B3E;
  z-index: 2; /* Asegura que esté encima del video */
  pointer-events: none; /* Evita interacción del usuario */
  border-top-right-radius: 15px;
}

/* Pantallas medianas (entre 540px y 860px) */
@media (min-width: 900px) and (max-width: 920px) {
  
  .Paso1A-video-texto {
    top: 15px;
    right: 4px;
    border-top-right-radius: 0;
  }

}