/* Contenedor principal de tarjetas */
.contenedor-tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 20px;
  padding: 0 4px;
  box-sizing: border-box;
}

/* Skeleton Loader */
.tarjeta-skeleton {
  width: 80%; /* Ocupa el 85% del ancho de la pantalla */
  height: 80%; /* Ocupa el 85% del alto de la pantalla */
  background: #f4f4f4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Centrar absolutamente */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box; /* Asegura que padding y bordes no alteren el tamaño total */
}


.tarjeta-skeleton-imagen {
  width: 80%;
  height: 80%;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 80% 80%;
  animation: skeleton-animation 1.5s infinite;
  border-radius: 8px;
 
}

.tarjeta-skeleton-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/* Animación del skeleton */
@keyframes skeleton-animation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .contenedor-tarjetas {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 4px;
  }
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 540px) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* Para pantallas grandes (computadoras de escritorio) */
@media (min-width: 1366px) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1600px) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(6, 1fr);
  }
}
