/* Contenedor principal de tarjetas */
.contenedor-tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define el tamaño mínimo de cada tarjeta */
  justify-items: center;
  gap: 20px;
  padding: 0 4px; 
  box-sizing: border-box;
}


/* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .contenedor-tarjetas {
    grid-template-columns: 1fr; /* Una tarjeta por fila en pantallas pequeñas */
    padding: 0; /* Sin padding para ocupar todo el ancho */
    gap: 4px; /* Reduce el espacio entre tarjetas */
  }

}

/* Para pantallas medianas (tabletas) */
@media (min-width: 600px) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste automático en tabletas */
  }

}

/* Para pantallas grandes (computadoras de escritorio) */
@media (min-width: 1366px) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(4, 1fr); /* Cuatro tarjetas por fila en pantallas grandes */
  }
}


/* Para pantallas grandes (computadoras de escritorio) */
@media (min-width: 1600px) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(6, 1fr); /* Cuatro tarjetas por fila en pantallas grandes */
  }
}


