.ListadoConversacionesMoviles-contenedor {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: auto; 
}

.ListadoConversacionesMoviles-titulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.ListadoConversacionesMoviles-error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.ListadoConversacionesMoviles-mensaje {
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.ListadoConversacionesMoviles-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ListadoConversacionesMoviles-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ListadoConversacionesMoviles-item:hover {
  background-color: #f0f0f0;
}

.ListadoConversacionesMoviles-imagen {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.ListadoConversacionesMoviles-iniciales {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b6b6b6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-size: 22px;
  font-weight: bold;
}

.ListadoConversacionesMoviles-nombre {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.ListadoConversacionesMoviles-cargando {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.ListadoConversacionesMoviles-error,
.ListadoConversacionesMoviles-mensaje {
  font-size: 14px;
  color: #888;
  margin: 0;
  padding: 10px 0;
}
