/* Estilo general para la página */
.reservacion-container {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.reservacion-loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

h1.reservacion-titulo {
  text-align: center;
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 10px;
}

h2.reservacion-subtitulo {
  text-align: center;
  font-size: 1.2rem;
  color: #818281;
  margin-bottom: 20px;
}

/* Contenedor de la información del glamping */
.reservacion-glamping-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

}

.reservacion-glamping-photo-container {
  flex: 1;
  display: flex;
  max-width: 550px;
  margin-right: 20px;
}

.reservacion-glamping-photo {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.reservacion-details {
  flex: 1;
  background-color: #f8f9fa; 
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 400px;
  font-family: "Courier New", Courier, monospace; /* Fuente estilo factura */
  color: #333333;
}

.reservacion-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  color: #000000;
}

.reservacion-details hr {
  border: 0;
  border-top: 1px dashed #cccccc; /* Líneas divisoras estilo recibo */
  margin: 12px 0;
}

.reservacion-details p {
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.5;
}

.reservacion-amount {
  float: right; /* Alinear precios a la derecha */
  font-weight: bold;
}

.reservacion-total {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  margin-top: 12px;
  color: #007bff;
}

.reservacion-details p:last-child {
  margin-bottom: 0;
}

/* Botón de confirmación */
.reservacion-payment-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.reservacion-payment-button {
  background-color: #2F6B3E;
  width: 100%;
  max-width: 400px;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservacion-payment-button:hover {
  background-color: #1f4a2a;
}

.Reservacion-verPoliticas{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: #818281;
}


/* Media Queries para hacerlo responsive */
@media (max-width: 600px) {
  .reservacion-glamping-info {
    flex-direction: column;
    align-items: center;
  }

  .reservacion-glamping-photo-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .reservacion-glamping-photo {
    max-height: 300px;
    object-fit: cover;
  }

  .reservacion-details {
    width: 100%;
  }

  h1.reservacion-titulo {
    font-size: 1rem;
  }

  h2.reservacion-subtitulo {
    font-size: 1rem;
  }

  .reservacion-total {
    font-size: 1.5rem;
  }

  .reservacion-payment-button {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
  }
}
