.calendario {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 30px;
}

.calendario h1 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: left;
}

.calendario-subtitulo {
  font-size: 1rem;
  color: #666;
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 500;
}

.calendario-encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.calendario-dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.calendario-dia-semana {
  padding: 5px;
  font-size: 0.9rem; /* Ajustar el tamaño si es necesario */
  text-transform: uppercase;
}


/* Encabezado de días de la semana: mostrar solo las dos primeras iniciales */
.calendario-dia-semana::after {
  content: attr(data-dia);
}

.calendario-columnas {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.calendario-columna {
  flex: 1;
}

.calendario-columna h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
}

.calendario-dia {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.calendario-dia:hover {
  background-color: #e0e0e0;
}

.calendario-dia-seleccionado {
  background-color: #2F6B3E;
  color: white;
  border-color: #F2A900;
}

.calendario-dia-deshabilitado {
  background-color: #e0e0e0;
  color: #aaa;
  cursor: not-allowed;
  border-color: #ccc;
}

.calendario-dia-vacio {
  background-color: transparent;
  border: none;
  cursor: default;
}

.calendario-navegacion {
  background-color: #2F6B3E;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.calendario-navegacion:hover {
  background-color: #F2A900;
}

.calendario-boton-borrar {
  text-align: right;
  margin-top: 20px;
}

.calendario-borrar {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendario-borrar:hover {
  background-color: #b3b6b4;
}

/* Ocultar el calendario completamente en pantallas menores a 600px */
@media (max-width: 600px) {
  .calendario {
    display: none;
  }
}

/* Mostrar solo una columna en pantallas entre 600px y 960px */
@media (max-width: 960px) and (min-width: 601px) {
  .calendario-columnas {
    flex-direction: column;
    gap: 0;
  }

  .calendario-columnas .calendario-columna:nth-child(2) {
    display: none;
  }
}

/* Configuración predeterminada: Mostrar dos columnas en pantallas mayores a 960px */
@media (min-width: 961px) {
  .calendario-columnas {
    flex-direction: row;
  }
}
