/* Configuración básica del contenedor principal */
.contenedor-principal-exploracion {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  box-sizing: border-box;
}

/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 600px) {
  .header-container,
  .imagenes-exploradas-container,
  .encabezado-explorado-container {
    display: none;
  }
  
  .contenedor-principal-exploracion {
    width: 100%;
  }

  /* Muestra NombreGlamping solo en pantallas pequeñas */
  .nombre-glamping-container {
    display: block;
  }
}

/* Oculta el nombre del glamping en pantallas grandes */
@media (min-width: 601px) {
  .img-exploradas-individual-container {
    display: none;
  }

  .nombre-glamping-container {
    display: none;
  }
}
