/* Configuración básica del contenedor principal */
.contenedor-principal-exploracion {
  margin: 0 auto;
  padding: 0;
  width: 85%;
  box-sizing: border-box;
}

.contenedor-descripcion-glamping{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.contenedor-descripcion-glamping-izq{
  width: 60%;
}

.contenedor-descripcion-glamping-der {
  display: flex;
  justify-content: flex-start; /* Asegura que los elementos hijos comiencen desde la parte superior */
  flex-direction: column; /* Alinea los hijos en una columna */
  width: 35%;
  position: relative; /* Necesario para que `sticky` funcione en el hijo */
  height: auto; /* Asegura que el padre ajuste su altura al contenido */
  padding-top: 0; 
  align-items:end; 
}


.encabezado-explorado{
  border-bottom: none;
}

.contenedor-lo-que-ofrece {
  margin-top: 20px;
  border-radius: 8px;
}


/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 600px) {
  .header-container,
  .imagenes-exploradas-container,
  .encabezado-explorado-container,
  .contenedor-descripcion-glamping-der {
    display: none;
  }
  
  .contenedor-principal-exploracion {
    width: 100%;
  }

  .contenedor-descripcion-glamping-izq{
    width: 100%;
  }


  /* Muestra NombreGlamping solo en pantallas pequeñas */
  .nombre-glamping-container {
    display: block;
  }
}

/* Oculta el nombre del glamping en pantallas grandes */
@media (min-width: 601px) {
  .img-exploradas-individual-container {
    display: none;
  }

  .nombre-glamping-container {
    display: none;
  }
}
