/* Contenedor principal */
.loQueOfrece-contenedor {
  margin-top: 30px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* Título del componente */
.loQueOfrece-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

/* Lista de características */
.loQueOfrece-lista {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas por defecto */
  gap: 24px 24px;
  margin-left: 10px;
}

/* Cada ítem de la lista */
.loQueOfrece-item {
  display: flex;
  align-items: center;
}

/* Ícono de cada característica */
.loQueOfrece-icono {
  width: 32px;
  height: 32px;
  margin-right: 24px;
}

/* Descripción de cada característica */
.loQueOfrece-descripcion {
  font-size: 1.2rem;
  color: #555;
}

/* Botón para mostrar más/menos */
.loQueOfrece-boton {
  margin-top: 16px;
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 650;
  cursor: pointer;
  color: #333;
  width: 100%;
}

.loQueOfrece-boton:hover {
  background-color: #f2f2f2;
}

/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 600px) {
  .loQueOfrece-contenedor {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom:none;
    margin-bottom:0;
  }

  .loQueOfrece-lista {
    grid-template-columns: 1fr; /* Cambiar a una sola columna */
    gap: 16px 0; /* Espaciado vertical más reducido */
  }

  .loQueOfrece-icono {
    width: 24px; /* Íconos más pequeños */
    height: 24px;
    margin-right: 16px;
  }

  .loQueOfrece-descripcion {
    font-size: 1rem; /* Texto más pequeño */
  }
}
