
.editar-perfil-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.editar-perfil-titulo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Profile Image Styling */
.editar-perfil-imagen {
  text-align: center;
  margin-bottom: 20px;
}

.editar-perfil-imagen-contenedor {
  position: relative;
  display: inline-block;
}

.editar-perfil-imagen-foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #2F6B3E;
  background-color: #f0f0f0;
}

.editar-perfil-inicial {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #2F6B3E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.editar-perfil-boton-editar {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #2F6B3E;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editar-perfil-boton-editar:hover {
  background-color: #449358;
}

.editar-perfil-boton-guardar {
  margin-top: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editar-perfil-boton-guardar:hover {
  background-color: #218838;
}

/* User Info Styling */
.editar-perfil-info {
  text-align: left;
}

.editar-perfil-info-item {
  margin-bottom: 15px;
}

.editar-perfil-info-item p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.editar-perfil-telefono-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.editar-perfil-telefono-contenedor p {
  flex: 1;
  margin-left: 5px;

}

.editar-perfil-telefono-contenedor input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
}

.editar-perfil-boton-editar-tel {
  margin-left: 10px;
  background-color: #2F6B3E;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.editar-perfil-boton-editar-tel:hover {
  background-color: #218838;
}

/* Loading Animation Styling */
.editar-perfil-cargando {
  text-align: center;
  margin-top: 50px;
}
