/* Estilos generales para el contenedor de mensajes */
.Mensajes-contenedor {

  margin-top: 70px;
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 1fr 2fr; /* La columna izquierda ocupa 1/3 y la derecha 2/3 */
  gap: 20px; /* Espacio entre las columnas */
  padding: 20px;
}

