/* Estilos generales para el contenedor de MensajesIndividuales */
.MensajesIndividuales-contenedor {
  margin-top: 70px;
  /* height: calc(100vh - 80px); */
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 20px; /* Espacio entre las columnas */
  padding: 20px;
  width: 100%;
}

/* Estilos específicos para dispositivos menores a 900px */
@media (max-width: 900px) {

  .MensajesIndividuales-contenedor {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  /* Ocultar Conversaciones y ListadoConversaciones en pantallas pequeñas */
  .Conversaciones,
  .ListadoConversaciones {
    display: none;
  }

}

/* Estilos específicos para dispositivos mayores a 600px */
@media (min-width: 901px) {

  /* Ocultar ConversacionesMoviles y ListadoConversacionesMoviles en pantallas grandes */
  .ConversacionesMoviles,
  .ListadoConversacionesMoviles {
    display: none;
  }
}
