/* Contenedor del botón reservado y fechas */
.ReservarBoton-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-top: 2px solid #ccc;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 120px;
}

/* Contenedor de las fechas */
.ReservarBoton-fechas {
  display: flex;
  justify-content: start;
}

/* Estilo de cada fecha */
.ReservarBoton-fecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 21px;
}

.ReservarBoton-fecha-dias {
  text-decoration: underline;

}

.ReservarBoton-huespedes {
  text-decoration: underline;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Botón de reserva */
.ReservarBoton-boton {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 16px;
  width: auto; /* Ajuste para que el botón no ocupe todo el ancho */
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0); /* Sin brillo por defecto */
  overflow: hidden; /* Para que el reflejo no se salga del borde */
  position: relative;
}

/* Efecto de reflejo dinámico */
.ReservarBoton-boton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Comienza fuera del botón */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-45deg); /* Inclinar el efecto */
  animation: mirrorEffect 4s ease-in-out 6s infinite; /* Animación infinita */
}

/* Animación del efecto espejo */
@keyframes mirrorEffect {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Icono del botón */
.ReservarBoton-boton-icono {
  margin-right: 10px;
}

/* Total */
.ReservarBoton-total {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center; /* Alinea el total a la izquierda */
  margin-right: 7px; 
  margin-left: 14px; 
}

/* Ocultar en pantallas menores a 600px */
@media (min-width: 600px) {
  .ReservarBoton-container {
    display: none;
  }
}
