/* Contenedor del botón reservado y fechas */
.ReservarBoton-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-top: 2px solid #ccc;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; 
  height: 120px;
}

/* Contenedor de las fechas */
.ReservarBoton-fechas {
  display: flex;
  justify-content: start; 
  align-items: flex-start;
  cursor: pointer;
}

/* Estilo de cada fecha */
.ReservarBoton-fecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  margin-right: 21px; 
}

.ReservarBoton-fecha-dias{
  text-decoration: underline;
}

/* Botón de reserva */
.ReservarBoton-boton {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 16px;
  width: auto; /* Ajuste para que el botón no ocupe todo el ancho */
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0); /* Sin brillo por defecto */
  transition: box-shadow 0.3s ease; /* Transición suave */
}

.ReservarBoton-boton:hover {
  background-color: #45a049;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.7); /* Efecto de brillo */
}

.ReservarBoton-boton-icono {
  margin-right: 10px;
}

/* Total */
.ReservarBoton-total {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center; /* Alinea el total a la izquierda */
  margin-right: 15px; /* Espacio entre el total y el botón */
}

/* Ocultar en pantallas menores a 600px */
@media (min-width: 600px) {
  .ReservarBoton-container {
    display: none;
  }
}
