.MenuIconos-contenedor {
  position: fixed; 
  top: 70px; 
  left: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 70px;
  width: 100%;
  padding: 10px 0;
  z-index: 999; 
}


/* Contenedor principal del menú */
.MenuIconos-contenedor-menu {
  display: flex;
  align-items: center;
  position: relative;
  font-family: inherit; 
  width: 85%;
}

/* Contenedor de iconos con desplazamiento horizontal */
.MenuIconos-lista-iconos {
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
  scroll-behavior: smooth;
  flex: 1;
}

.MenuIconos-lista-iconos::-webkit-scrollbar {
  display: none;
}

.MenuIconos-lista-iconos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Estilo para cada ítem de icono */
.MenuIconos-icono-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: #333;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  font-family: inherit; /* Usa la fuente predeterminada de la página */
}

.MenuIconos-icono-item .MenuIconos-icono {
  font-size: 24px;
  margin-bottom: 5px;
}

.MenuIconos-icono-item:hover {
  transform: scale(1.1);
}

/* Estilo para el icono seleccionado */
.MenuIconos-icono-seleccionado {
  color: #000;
  font-weight: bold;
}

/* Estilo para las flechas de navegación */
.MenuIconos-flecha-izquierda, .MenuIconos-flecha-derecha {
  position: absolute;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.MenuIconos-flecha-izquierda {
  left: 10px;
}

.MenuIconos-flecha-derecha {
  right: 10px;
}

.MenuIconos-flecha-izquierda:hover, .MenuIconos-flecha-derecha:hover {
  transform: scale(1.2); /* Incrementa ligeramente el tamaño */
}

/* Responsividad: Oculta las flechas en pantallas pequeñas */
@media (max-width: 540px) {
  .MenuIconos-flecha-izquierda, .MenuIconos-flecha-derecha {
    display: none;
  }
  .MenuIconos-contenedor-menu {
    width: 100%;
  } 
}
